    <div class="tile"><%= item.attributes.foodName %> | Calories: 
    <%= item.attributes.calories %>
    | Add Quantity: 
    <input type="text" placeholder="0" width="2em" class="qtyInput">
    <button class="addButton">Add</button>
    </div>


