<div class="tile"><%= item.attributes.foodName %> | Calories: 
    <%= item.attributes.calories %>
    | Quantity: <%= item.attributes.quantity %> 
    <button class="delButton">remove</button>
    </div>



