* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background: #fafafa;
}

ul {
  list-style: none;
}

.tile {
  border-bottom: 1px solid #999;
  padding: 1em;
}

.ui-menu-item:hover {
  background: #afafaf;
}

.ui-autocomplete {
  background: white;
  border: 1px solid #999;
  cursor: pointer;
}

.ui-menu-item {
  padding:0.5em;
  border-bottom: 1px solid #999;
}

.ui-helper-hidden-accessible {
  display: none;
}

.search-bar {
  height: 1.8em;
  font-size: 1.25em;
  padding: 0em .5em;
  margin: 1em 0;
}
